<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
		<add name="DefaultConnStr" connectionString="SERVER=app.config.defconnstr;User ID=postgres;Password=postgres;Port=5432;database=appdb;" />
	</connectionStrings>
	<appSettings>
		<add key="DefaultConnectionStringName" value="DefaultConnStr" />
	</appSettings>
	<log4net update="Overwrite">
		<appender name="AdoNetAppender" type="ICSSoft.STORMNET.CustomAdoNetAppender, NewPlatform.Flexberry.LogService">
			<bufferSize value="0" />
			<reconnectonerror value="true" />
			<connectionType value="Npgsql.NpgsqlConnection, Npgsql" />
			<commandText value="INSERT INTO ApplicationLog (primaryKey,Timestamp,ThreadName,Category,ProcessName,Message,FormattedMessage) VALUES (uuid_in(md5(random()::text || now()::text)::cstring), :log_date, :thread, :log_level, :logger, :message, :exception)" />
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawUtcTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="512" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="64" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="512" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="2500" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="AdoNetAppender" />
		</root>
	</log4net>
</configuration>